
.text-center{
   
   border-color: black !important;
   border-style: solid !important;
    border-width: thin !important;
   
}

.card__body{
   margin-top: 2rem !important;
   padding: 2rem !important;
}