
.text-center{

   border-color: black !important;
   border-style: solid !important;
    border-width: thin !important;
   
}

.card__body{
   margin-top: 1rem !important;
   padding: 1rem !important;
}