.plannet_web_login {
  background-image: url("../../assets/logo.png");
  min-height: 100%;
  min-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  position: fixed;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plannet_web_logins_item{
  width: 300px;
  
}