* {
  padding: 0px;
  margin: 0px;
}

body{
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.hexagon-shape{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 95%;
  max-width: 100%;
  margin: auto;
  z-index: -1;
}